@import "tailwindcss";

@font-face {
    font-family: "Space";
    src: url("../fonts/SpaceGrotesk-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-primary: #F7333F;
    --color-secondary: #FF6B35;
    --color-background: #1F2937;
    --color-accent: #FCF7F8;
}

html {
    font-family: "Space", sans-serif;
}

